.container {
    max-width: 960px;
    margin: 0 auto;
    background: #f9f9f9;
    font-size: 24px;
    padding: 25px;
}

.para {
    background: url('../assets/hotty2.jpg') no-repeat center;
    /* padding-top: 50px; */
    background-size: cover;
    background-attachment: fixed;
    height: 1100px;
}