<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <p>
        This is my angel. I love her so dearly so. She is the most amazing 
        , beautiful, smart, oh so sexy angel face darling that i could ever
        ask for. I know that times have been tough my love but we will make 
        it through this. I am proud of you and all that you have accomplished
      </p>
      <div class="para"></div>
      <p>
        I know that this is a little unfair cause it was something and i was 
        looking into on how to get right. But i'm very proud to have you on 
        this page.
        Love you little rainbow.
      </p>
    </div>
  </body>
</html>
